@media screen and (max-width:676px) {

    .header-section,
    .items-container {
        flex-direction: column;
    }

    .nav-container {
        justify-content: center;
    }

    .items-container {
        gap: 15px;
    }

    .banner-section {
        flex-direction: column;
    }

    .text-container {
        width: 100%;
        order: 2;
    }

    .banner-img-container {
        width: 100%;
        order: 1;
    }
}