/* Tab device */
@media screen and  (max-width:768px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile device */
@media screen and (max-width:676px) {

    .header-section,
    .items-container {
        flex-direction: column;
    }

    .nav-container {
        justify-content: center;
    }

    .items-container {
        gap: 15px;
    }

    .banner-section {
        flex-direction: column;
    }

    .text-container {
        width: 100%;
        order: 2;
    }

    .banner-img-container {
        width: 100%;
        order: 1;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}