@media screen and (max-width:676px) {

    .header-section,
    .items-container {
        flex-direction: column;
    }

    .nav-container {
        justify-content: center;
    }

    .items-container {
        gap: 15px;
    }
}