/* Fonts style from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Common style */
* {
    font-family: "Poppins", sans-serif, "Dancing Script", cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav section */
.header {
    background-color: #9376e0;
}

.header-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;

    align-items: center;
    width: 50%;
    /* min-height: 60px; */
}

.nav-container img {
    width: 90px;
    object-fit: cover;
}

.nav-container p {
    font-size: 30px;
    font-weight: 700;
}

.shop {
    color: #e893cf;
    font-weight: 900;
}

.items-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items-container a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.login-btn {
    padding: 10px 20px;
    background-color: #e893cf;
    border-radius: 05px;
    color: black;
    margin-bottom: 10px;
}

/* Banner section style */
.banner-section {
    max-width: 1200px;
    background-color: rgb(205, 219, 219);
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 400px;
    display: flex;
    border-radius: 05px;

}

.text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.banner-img-container {
    width: 50%;
    position: relative;
}

.banner-img-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}
.discount{
    width: 90px;
    height: 90px;
    background-color: #4e4070;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 62%;
    left: 69%;
    font-size: 20px;
    font-weight: 500;
}

.text-container

span {
    font-size: 45px;
}
.banner-heading{
    background: linear-gradient(to bottom, #e893cf, #9376e0);
    background-clip: text;
    color: transparent;
    font-size: 60px;
}
.banner-description{
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    font-weight: 900;
}
.icons{
    display: flex;
    gap: 30px;
}
.fa-brands{
    font-size: 35px;
}
.cmn-btn{
    padding: 10px 20px;
    background-color: #e893cf;
    color: white;
    border-radius: 10px;
    border: none;
}

/* product section style */
.product-section{
    max-width: 1200px;
    margin: 0 auto;
}
.grid-container{
    min-width: 400px;
    /* border: 01px solid tomato; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.single-product{
    /* border: 01px solid blue; */
    /* width: 30%; */
    padding: 10px;
    background-color: #e6e9eb;
    border-radius: 10px;
}
.single-product img{
    width: 70%;
    margin: 0 auto;
    display: block;
}
.heading-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    background-color: #e893cf;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
}